*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: rgb(132, 79, 14);
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(109, 109, 48);
    display: flex;
    justify-content: center;
    align-items: center;
}
#page2 img{
    height:690px;
    width:10%;
    object-fit: cover;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(65, 132, 14);
}